
/*ESTILO DE FONDO ANIMADO*/
:root {
  --gradient: linear-gradient(-45deg,white, red,black,red,white );
}




/*cuerpo*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo 2';
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:url('https://i.ibb.co/JzdkvNg/666.jpg');
    background-size: 10%; 
  flex-wrap: wrap;
}
/*contenedor principal original*/


.card {

border: 1px solid red;
   
    Background-color:BLACK;
   
    box-shadow:red -10px 10px 30px,red 10px -10px 30px ;


    position: relative;
    width: 400px;
  /*  height: 900px;*/
    border-radius: 5px;
    overflow: hidden;
    transition: .5s;
    margin: 15px 20px;
    min-height: 100%;
  background-size: 300%;
  background-image: var(--gradient);
  -webkit-animation: bg-animation 30s infinite;
          animation: bg-animation 30s infinite;
}

@-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }


}

.card:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    transform: translateY(-20px);
}



/*contenedor del texto*/

.card .description {
    height: 620px;
   padding: 40px 20px 20px 20px;
   /* border-bottom: white solid 1px ;*/
   text-align: center;
}

.card .description, h1,h2,h2,h4,p,i,a,button{
animation: animate 10s infinite linear;
}
@keyframes animate
{
    0%,100%{
        color:aqua;
    }
    25%{
        color: deeppink;
    }
    50%{
        color:deepskyblue;
    }
    75%{
        color: white;
    }
}

h1{
    font-size: 60px;
    text-align: center;
}

h2{
    font-size: 17px;
    text-align: center;
}

h3{
    font-size: 40px;
    text-align: center;
}





/*contenedor de redes sociales*/


.card .contact {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:25px;
    
}

    


.card .contact a {
    text-decoration: none;
    color: #fff;
  

    padding: 5px 10px;
    border-radius: 100%;
    transition: .5s;  
}

.card .contact a:hover {
    
background-image: var(--gradiente);
  
    --gradiente: linear-gradient(to top,purple,black
    );
     box-shadow: 0 5px 5px rgba(0,0,0,1);
    transform: translateY(-10px);
}

/*CATALOGO

.CATALOGO{
  position: relative;
  left:65px;
 display: center;
  text-align:center;
  color:white;
  text-decoration:none;
  Margin:10px;
  width: 150px;
  height:40px;
  Padding:5px;
  font-size: 20px;
  border-radius: 20px;
  border: 1px white solid;
  box-shadow:0px 0px 10px 1px white;
                  0px 0px 10px 5px white;
  text-shadow: -2px 1px purple;
  
  min-height: 30px;
  background-size: 300%;
  background-image: var(--gradient);
  -webkit-animation: bg-animation 20s infinite;
          animation: bg-animation 20s infinite;
          */
  
/*codigo de fondo animado*/
  }
  @-webkit-keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}




/*slider*/

    #loader {
       /* background-color: #ffffff;*/
        height: 15em;
        width: 15em;
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 10%;
        display: -ms-grid;
        display: grid;
        place-items: center;
        border-radius: 5px;
      }
      #loader:after {
        content: "";
        position: absolute;
        height: 11em;
        width: 11em;
        
    /*  border: 0.9em solid red;
        border-top-color:black;
        border-radius: 50%;*/
        
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
      }
      @-webkit-keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spin {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      
      
      #box {
        position: absolute;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        top: 64%;
        left: 50%;
        width: 80vw;
        max-width: 41em;
        min-height: 26em;
        display: none;
      }
      .img-con {
        position: absolute;
      }
      .img-con img {
        height: 1px;
        width: 1px;
      }
      
      /*ubicacion del botton uno*/
     .uno {
        background-color: rgba(255,255, 255, .1);
        ;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 0.6em;
        -webkit-box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
                box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
      }
      
      
      /*ubicacion del botton d0s*/
     
       .dos {
        background-color: rgba(255,255, 255, .1);
        ;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 0.6em;
        -webkit-box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
                box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
      }
    
      
   */   
       .wrapper{
        background-color: rgba(255,255, 255, .1);
        ;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-radius: 0.6em;
        -webkit-box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
                box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
      }
      
      
      
      
      .testimonial-container {
        width: 85%;
        height: 100%;
        position: relative;
        margin: auto;
        padding: 1.8em 1.2em;
      }
      .testimonial-container p {
        color: #8c8c90;
        text-align: center;
        font-size:20px;
      /*  line-height: 2em;*/
       /* letter-spacing: 0.05em;*/
      }
      .testimonial-container img {
        display: block;
        position: relative;
        
      /*  margin: 1.8em auto 1.25em auto;*/
      /*  margin: 1.8em auto 1.25em auto;*/
       /* border-radius: 5%;*/
        width:300px;
        height:250px;
        left:-45px;
      }
      .testimonial-container h1,h2,h3 {
        
       
        text-align: center;
        animation: animate 10s infinite linear;
}
@keyframes animate
{
    0%,100%{
        color:aqua;
    }
    25%{
        color: deeppink;
    }
    50%{
        color:deepskyblue;
    }
    75%{
        color: white;
    }
}

        
        
      
      .testimonial-container h6 {
        color: #bcc4da;
        font-size: 0.9em;
        letter-spacing: 0.03em;
        font-weight: 400;
        text-align: center;
      }
      
      /*diseño de botton uno*/
      
     .uno button  {
        font-size: 1.8em;
     
        height: 2.2em;
        width: 2.2em;
        position: absolute;
        left:0px;
        margin: auto;
        top: 0;
        bottom: 0;
        background-color: rgba(255,255, 255, .1);
        ;
        border: none;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
      
      
      /* diseño de botton dos*/
      
       .dos button  {
        font-size: 1.8em;
        height: 2.2em;
        width: 2.2em;
        position: absolute;
        right:0px;
        margin: auto;
        top: 0;
        bottom: 0;
        background-color: rgba(255,255, 255, .1);
        ;
        border: none;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
        cursor: pointer;
      }
      
      
      
      button#next {
         top:50px;
        
      }
      button#prev {
        top:50px;
        
      
      a {
        position: relative;
        display: block;
     /*   background-color: #ffffff;*/
        color: #0a69ed;
        text-decoration: none;
       /* font-size: 1.2em;*/
        font-weight: 600;
        text-align: center;
        padding: 0.9em 0;
        border-radius: 0.3em;
        margin-top: 30px;
      }
      @media screen and (max-width: 650px) {
        .wrapper {
          font-size: 14px;
        }
      }

